main{
        background-image: url('../../img/pasta_foto.jpg');
        .cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 30px;

            img {
                width: 300px;
                height:250px;
                margin: 10px 20px 10px 0;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.08);
                    box-shadow: 0 0 10px #000;
                    cursor: pointer;
                }

            }

            h2 {
                   width: 100%;
                   margin-top: 8px;
                   margin-bottom: 8px;
                   color: #001942;
               }

            h3 {
                color:white;
            }
        }
}
